/* Edit deck page styles */

.secondary-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#container {
  margin: 100px auto;
}

.edit-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 600px;
  margin: 40px auto;
}

.card {
  display: flex;
  flex-flow: column;
}

.button-container {
  display: none;
}

.save-button {
  display: none;
}

.edit-button, .delete-button {
}
