div {
  width: 100%;
  height: 100%;
}

.container {
  margin: 20px;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.card {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 2px solid black;
  background-color: lightgray;
}

.front {
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  border: 2px solid black;
  background-color: lightgray;
  transform: rotateX(180deg);
}

.back {
  box-shadow: 0px 0px 20px 1px #000;
}
